header {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;

}

body {
  background-color: white;
  padding: 0px;
  margin: 0px;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 25px;
  padding-bottom: 25px;
}

div {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  border-radius: 16px;
  background-color: rgb(232, 230, 230);
}

img {
  width: 150x;
  height: 150px;
  position: absolute;
  top: 500px;
}

.card-4 {
  grid-column: 1 / -1;
  height: 250px;
}

.card-3 {
  height: 325px;
}

.card-2 {
  height: 325px;
}

.card-1 {
  height: 325px;
}

button {
  border: none;
  text-align: center;
  height: 25px;
  width: 75px;
  border-radius: 4px;
}

.loan-btn {
  background-color: rgb(24, 207, 33);
}

.bank-btn{
  background-color: yellow;

}

.work-btn {
  background-color: blue;
  color: white;
}

.repayloan-btn{
  background-color: red;
}

.buy-btn{
  background-color: aqua;
  position: absolute;
  top: 540px;
  right: 250px;

}

h2 {
  text-align: center;
  top: 450px;
  left: 350px;

}

.p-desc {
  text-align: center;
  top: 500px;
  left: 350px;
}

.p-price {
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 500px;
  right: 250px;

}









